{
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
